{% render 'partials/head.liquid', title: 'Squad page' %}

  <nav class= filter-menu>
    <a class="btn">Team</a>
    <a class="btn" href="?filter=1I">Squad 1I</a>
    <a class="btn" href="?filter=1J">Squad 1J</a>
    <a class="btn">Seizoen</a>
  </nav>

  {% for person in persons %}
    <section class="pantone-card">
      <div class="color-card">
          <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}" alt="" class="personMugshot">
          <div class="swatch-color" style="background-color:{{ person.fav_color}}" data-color="{{ person.fav_color }}">
          </div>
          
        </div>
           <a href="/student/{{ person.id }}">{{ person.name }}</a>
            <p>{{ person.github_handle }}
              <br>{{ person.fav_color }}
              <br>{{ person.fav_season }}
              <br>{{ person.team }}
            </p>
       </section>
  {% endfor %}



{% render 'partials/foot.liquid', squads: squads %}